.recipe-card {
  min-width: 140px;
}

@media screen and (max-width: 320px) {
  .meal-category-btn {
    font-size: 0.98em;
    width: 85px;
  }
}

@media screen and (max-width: 360px) {
  .drink-category-btn {
    font-size: 0.9em;
    width: 150px;
  }
}
