.recipe-card {
  min-width: 140px;
}

.card-shadow {
  box-shadow: 5px 5px 15px rgb(170, 170, 170);
}

.card-shadow:hover {
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

@media screen and (max-width: 360px) {
  .meal-category-btn {
    font-size: 0.98em;
    width: 85px;
  }
}

@media screen and (max-width: 375px) {
  .drink-category-btn {
    font-size: 0.9em;
    width: 140px;
  }
}

@media screen and (max-width: 360px) {
  .drink-category-btn {
    font-size: 0.85em;
    width: 135px;
  }
}
