@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 252, 252);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(253, 128, 97);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 102, 64);
}

@layer components {
  .salmon-btn {
    @apply w-40 h-11 my-1 text-base bg-login-bg text-recipe-name rounded-2xl font-bold self-center disabled:opacity-40 active:translate-y-1 transition duration-100;
  }

  @import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&family=Roboto:wght@400;700&display=swap');

  .font-palanquin {
    font-family: 'Palanquin', sans-serif;
  }

  .custom-h-screen {
    height: 80vh;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 248, 248);
  }

  footer {
    max-width: 1024px;
  }

  #root {
    width: 1024px;
  }
}
